html
	head
		title CommentMore
		link(href='style.css', rel='stylesheet')
		script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js')
		script(src='index.js')



	body
		p First Install the Monkey ...
		p	Then download and install
			a(href='/comment-more.user.js') CommentMore

		input(id='CMLogin' placeholder='Login (visible name)' )
		input(id='CMPassword' placeholder='Password' )
		button(onclick='getApp()') Log in
		span or
		input(id='CMEmail' type=email placeholder='@' )
		button(onclick='signUp()') Sign up
		div(id='app-link-shell')
