html
	head
		title CommentMore
		link(href='style.css', rel='stylesheet')
		script(src='jquery/jquery-1.12.0.min.js')
		script(src='jquery-ui-1.11.4.custom/jquery-ui.min.js')
		script(src='index.js')


	body
		p First Install the Monkey ...
		p	Then log in or sign up (you must to sign up for posting comments from specified name)

		input(id='CMLogin' placeholder='Login (visible name)' )
		input(id='CMPassword' placeholder='Password' )
		button(onclick='getApp()') Log in
		span or
		input(id='CMEmail' type=email placeholder='@' )
		button(onclick='signUp()') Sign up
		p(id='app-link-shell')
		div(id='DnD' style='width:100px; height:100px; background:cyan; display:inline-block; ')
		button(onclick='setLang("en")') en
		button(onclick='setLang("ua")') ua
