html
	head
		title CommentMore
		link(href='style.css', rel='stylesheet')
		script(src='jquery-1.11.2.min.js')
		script(src='jquery-ui-1.11.4.custom/jquery-ui.js')
		script(src='index.js')


	body
		p First Install the Monkey ...
		p	Then log in or sign up

		input(id='CMLogin' placeholder='Login (visible name)' )
		input(id='CMPassword' placeholder='Password' )
		button(onclick='getApp()') Log in
		span or
		input(id='CMEmail' type=email placeholder='@' )
		button(onclick='signUp()') Sign up
		p(id='app-link-shell')
		div(id='DnD' style='width:100px; height:100px; background:cyan; display:inline-block; ')
